* {
    border: 0;
    padding: 0;
    margin: 0;
}

/* Cabeçalho */

header {
    background-color: white;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 1px 1px 8px #8d8d8d;
    z-index: 10;
}

.container {
    background-color: white;
    width: 1366px;
    height: 80px;
    margin: 0 auto;  
}

nav {
    width: 1366px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 95px;
    margin-top: 18px;
}

nav a {
    font-family: 'Roboto';
    color: gray;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Corpo */

.button1 {
    font-family: 'Roboto';
    width: 140px;
    background-color: #E25A32;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.banner {
    width: 100%;
    height: 800px;
    background-size: cover; 
    object-fit: cover;
    background-image: url('background.png');
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 1366px;
    height: 500px;
}

.wrapper h1 {
    font-family: 'Roboto';
    color: #FFF;
    font-size: 50px;
    font-weight: bolder;
    margin-top: 50px;
}

.wrapper h2 {
    font-family: 'Roboto';
    color: #FFF;
    font-size: 28px;
    font-weight: normal;
    margin-top: 20px;
    line-height: 40px;
    margin-bottom: 70px;
}

.partnerbox {
    width: 1366px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    background-position: center; 
    align-items: flex-start;
    align-items: center;
    margin: 0 auto;
    padding: 50px;
}

.button2 {
    font-family: 'Roboto';
    width: 300px;
    background-color: #E25A32;
    border-radius: 10px;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
}

.aboutbox {
    width: 1366px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
}

.numbers {
    min-width: 500px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    
}

.numbersinfo {
    width: 1366px;
    height: 500px;
}

.numbersinfo h1 {
    font-family: 'Roboto';
    color:black;
    font-size: 35px;
    font-weight: bolder;
    margin-top: 50px;
    margin-right: 20px;
}

.numbersinfo h2 {
    font-family: 'Roboto';
    color: black;
    font-size: 26px;
    font-weight: normal;
    margin-top: 20px;
    line-height: 40px;
    margin-bottom: 55px;
    margin-right: 20px;
}

.box {
    background-color: #E25A32;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-top: 22px;
    margin-right: 22px;
    text-align: center;

}

.box h1 {
    margin-top: 15px;
    font-family: 'Roboto';
    color: #FFF;
    font-size: 60px;
    font-weight: bolder;
}

.box h2 {
    font-family: 'Roboto';
    color: #FFF;
    font-size: 30px;
    font-weight: normal;
    line-height: 35px;
    text-align: center;
    margin-top: 15px;
}

.saibamaislink {
    font-family: 'Roboto';
    font-weight: bold;
    color: #E25A32;
    font-size: 20px;
    border-bottom: 2px solid #E25A32; 
    padding-bottom: 3px;
    text-decoration: none;
}

.opiniaocontainer {
    width: 1366px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 40px;
}

.opiniaotitlecontainer {
    width: 300px;
}

.opiniaoboxcontainer {
    width: 1066px;
    height: 250px;
    margin: 0 auto;
}


.opiniaobox {
    border-radius: 30px;
    background-color: #F7F7F7;
    width: 100%;
    height: 250px;
    padding-top: 20px;
    box-sizing: border-box;

}

.opiniaobox img {

}


.opiniaotitlecontainer h1 {
    margin-top: 14px;
    font-family: 'Roboto';
    color: #E25A32;
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.vejatodasopinioes {
    font-family: 'Roboto';
    font-weight: bold;
    color: gray;
    font-size: 20px;
    border-bottom: 2px solid gray; 
    padding-bottom: 3px;
    text-decoration: none;
}

.estrelas {
    margin-left: 25px !important;
    width: 130px !important;
}

.containerfotoeopiniao {
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-top: 15px;

}
.opiniaofoto {
    height: 80px;
    width: 80px !important;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.opiniaoboxtexto{
    font-family: 'Roboto';
    color: #000;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 20px;
}

.opiniaoboxid {
    width: 185px;
    font-family: 'Roboto';
    color: #000;
    font-size: 14px;
    margin-left: 15px;
    margin-right: 15px;
    flex-wrap: wrap;
}


/* Rodapé */

footer {
    background-color: black;
    width: 100%;
    height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape {
    width: 1366px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: initial;
    margin-top: 70px;
}

.logorodape {
    height: 150px;
    margin-bottom: 20px;
}

.divrodape1, .divrodape2 {
    height:150px;
}

.divrodape3 {
    height: 150px;
}

.divrodape4 {
    width: 500px;
    height: 150px;
}

.divrodape2 a, .divrodape3 a{
    font-family: 'Roboto';
    line-height: 22px;
    color: white;
    font-size: 12px;
}

h3 {
    font-family: 'Roboto';
    color: white;
    font-size: 16px;
    margin-bottom: 14px;
    font-weight: bold;
}

h4, h4 a {
    font-family: 'Roboto';
    color: white;
    font-size: 11px;
    font-weight: normal;
    margin-top: 12px;
}

form {
    width: 100%;
    margin-top: 20px;
}

form input{
    width: 100%;
    height: 30px;
    border: 0;
    border-radius: 10px;
    padding: 12px;
    box-sizing: border-box;
    font-size: 12px;
}

/* Carrossel swipe */

.owl-nav {
    display: none;
}

.owl-carousel button.owl-dot.active {
    display: block;
    background-color: #E25A32;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 5px;

}

.owl-carousel button.owl-dot {
    display: block;
    background-color: #ccc;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 5px;
}

.owl-dots{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RESPONSIVO */

@media (max-width: 480px){

    /* nav bar */

    header {
        width: 90%;
    }

    .container {
        width: 90%;
    }

    nav {
        width: 90%;
    }

    .menu a {
        display :none;
    }

    .menu a.logo {
        display:block;
    }

    .menu{
        width: 100%;
    }

    .button1 {
        display: none;

    }

    /* banner de fundo */
    
    .banner {
        width: 100%;
   
    }

    .wrapper {
        width: 90%;
    }

    .wrapper h1{
        font-size: 30px;
        margin-top: 10px;
        width: 300px;
        margin: 0 auto;
        text-align: center
    }

    .wrapper h2{
        font-size: 20px;
        margin-top: 20px;
        line-height: 30px;
        margin-bottom: 45px;
        text-align: center

    }

    .button2{
        margin: 0 auto;
        display: block;
    }

  /* logo parceiros */
    .partnerbox {
        width: 90%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        padding: 50px 0;
    }

    .partnerbox img {
        margin-top: 20px;
    }






}
